*.csv
*.png
*.xlsx
*.pkl

data
data/

__pycache__
__pycache__/
.DS_Store

*.pkl

../.ipynb_checkpoints/RF_GSCV-checkpoint.py
../.ipynb_checkpoints/RF_atomver-checkpoint.py
../.ipynb_checkpoints/brandon-checkpoint.ipynb
../.ipynb_checkpoints/nek2-Copy_inhib-checkpoint.ipynb
../.ipynb_checkpoints/nek2-checkpoint.ipynb
../.ipynb_checkpoints/nek2_rf-inhibition-checkpoint.ipynb
../.ipynb_checkpoints/split_data-checkpoint.py
../Compound_Diversity_Analysis.ipynb
../NEK/.ipynb_checkpoints/
../NEK/GP/.ipynb_checkpoints/
../NEK/GP/GP_matern_kernel/.ipynb_checkpoints/RS_JP_run_GP_matern_kernel-Dirichlet-Copy1-checkpoint.ipynb
../NEK/GP/GP_matern_kernel/.ipynb_checkpoints/RS_JP_run_GP_matern_kernel-Dirichlet-checkpoint.ipynb
../NEK/GP/GP_matern_kernel/.ipynb_checkpoints/Scalable_GPyTorch_classification_NEK2_SMOTE_prob_matern-checkpoint.ipynb
../NEK/GP/GP_matern_kernel/.ipynb_checkpoints/old_run_GP_matern_kernel-Dirichlet-checkpoint.ipynb
../NEK/GP/GP_matern_kernel/.ipynb_checkpoints/old_run_GP_matern_kernel-checkpoint.ipynb
../NEK/GP/GP_matern_kernel/Scalable_GPyTorch_classification_NEK2_SMOTE_prob_matern.ipynb
../NEK/GP/GP_matern_kernel/old_run_GP_matern_kernel-Dirichlet.ipynb
../NEK/GP/GP_matern_kernel/old_run_GP_matern_kernel.ipynb
../NEK/GP/GP_results/.ipynb_checkpoints/
../NEK/GP/gp_test.ipynb
../NEK/GP/remove_code.ipynb
../NEK/NEK2/.ipynb_checkpoints/
../NEK/NEK3/nek3_gridsearch.py
../NEK/NEK5/
../NEK/NEK9/
../NEK/RF.zip
../NEK/RF/.ipynb_checkpoints/
../NEK/RF/RF_grid_search/README.md
../NEK/RF/RF_grid_search/RF_gridsearch_allNEK.py
../NEK/RF/RF_grid_search/rf_results.zip
../NEK/RF/RF_grid_search/rf_results/.ipynb_checkpoints/
../NEK/RF/RF_grid_search/rf_results/NEK_RF_ROC_AUC.html
../NEK/RF/RF_results/
../NEK/RF_gridsearch_allNEKold.py
../NEK/RF_gridsearch_any.py
../NEK/dataset_creation/.ipynb_checkpoints/create_moe_feats-checkpoint.ipynb
../NEK/dataset_creation/.ipynb_checkpoints/testing_redo-checkpoint.ipynb
../NEK/dataset_creation/testing_redo.ipynb
../NEK/general_NEK/.ipynb_checkpoints/avg_GP_RF_RFGS-checkpoint.ipynb
../NEK/general_NEK/.ipynb_checkpoints/comparison_literature_original-checkpoint.ipynb
../NEK/general_NEK/.ipynb_checkpoints/compound_overlap-checkpoint.ipynb
../NEK/general_NEK/.ipynb_checkpoints/gather_final_model_data-checkpoint.ipynb
../NEK/general_NEK/.ipynb_checkpoints/paper_averages-checkpoint.ipynb
../NEK/general_NEK/Flowchart (1).jpg
../NEK/general_NEK/avg_GP_RF_RFGS.ipynb
../NEK/general_NEK/comparison/
../NEK/general_NEK/sizes/.ipynb_checkpoints/
../NEK/general_NEK/venn_diagrams/.ipynb_checkpoints/
../NEK/holdout_test/
../NEK/plots/AD/.ipynb_checkpoints/
../NEK/plots/AD/Compound_Diversity_Analysis.ipynb
../NEK/plots/AD/NEK2_binding_Compound_Diversity_Analysis.ipynb
../NEK/plots/AD/NEK_RF_GS_UQ_scatter_plots.html
../NEK/plots/AD/NEK_RF_UQ_scatter_plots.html
../NEK/plots/AD/RFGS_AD_scatter_OLD.ipynb
../NEK/plots/UMAP/.ipynb_checkpoints/
../NEK/plots/UMAP/Compound_Diversity_Analysis.ipynb
../NEK/plots/UMAP/MOE_euclid_correlation_plots.ipynb
../NEK/plots/UMAP/UMAP_analysis-v2.ipynb
../NEK/plots/UMAP/UMAP_analysis_v1.ipynb
../NEK/plots/UMAP/diversity_plots/
../NEK/plots/UQ_RF/.ipynb_checkpoints/
../NEK/plots/UQ_RF/figures/
../NEK/plots/UQ_RF/swarm_plots.ipynb
../NEK/plots/UQ_all_nek_gp/.ipynb_checkpoints/GP_variance_scatter-checkpoint.ipynb
../NEK/plots/UQ_all_nek_gp/.ipynb_checkpoints/UG_GP_AD_scatter-checkpoint.ipynb
../NEK/plots/UQ_all_nek_gp/.ipynb_checkpoints/class0_1_scatter_Oct2024-checkpoint.ipynb
../NEK/plots/UQ_all_nek_gp/.ipynb_checkpoints/rs_UQ_GP-checkpoint.ipynb
../NEK/plots/best_models/.ipynb_checkpoints/
../NEK/plots/best_models/RFGS_model_comparsion_plots.ipynb
../NEK/plots/figures/.ipynb_checkpoints/ROCAUC-checkpoint.ipynb
../NEK/plots/figures/.ipynb_checkpoints/rs_GP_metric_plots-checkpoint.ipynb
../NEK/plots/figures/GP_plots/.ipynb_checkpoints/
../NEK/plots/figures/GP_plots/GP_metric_plots.ipynb
../NEK/plots/figures/GP_plots/GP_other_metric_plots.ipynb
../NEK/plots/figures/GP_plots/ROC_AUC/
../NEK/plots/figures/RF_comparison/
../NEK/plots/figures/RF_gridsearch_plots/.ipynb_checkpoints/
../NEK/plots/figures/RF_gridsearch_plots/RF_gridsearch_plots.ipynb
../NEK/plots/figures/RF_gridsearch_plots/ROC_AUC/
../NEK/plots/figures/RF_plots/.ipynb_checkpoints/RF_noGS_plots-checkpoint.ipynb
../NEK/plots/figures/RF_plots/RF_noGS_plots.ipynb
../NEK/plots/figures/RF_plots/ROC_AUC/
../NEK/plots/figures/ROCAUC.ipynb
../NEK/plots/figures/rs_GP_metric_plots.ipynb
../NEK/prelim_grids.sh
../NEK/smoten_test/
../NEK/undersampler_validation/.ipynb_checkpoints/
../NEK/undersampler_validation/fold_validation_comparsion.ipynb
../NEK/undersampler_validation/idea1_dir/.ipynb_checkpoints/
../NEK/undersampler_validation/idea2_dir/
../NEK/undersampler_validation/idea3_dir/.ipynb_checkpoints/
../NEK/undersampler_validation/idea3_dir/trying_GP.ipynb
../NEK/undersampler_validation/idea4_dir/.ipynb_checkpoints/
../NEK/undersampler_validation/idea5_dir/.ipynb_checkpoints/
../NEK/undersampler_validation/idea5_dir/run_GP_RBF_kernel_idea5.ipynb
../NEK/undersampler_validation/idea5_dir/run_GP_matern_kernel_idea5.ipynb
../NEK/undersampler_validation/under_batch2/.ipynb_checkpoints/
../NEK/undersampler_validation/under_batch2/fit_RF copy.ipynb
../NEK/undersampler_validation/under_batch2/idea3 copy.ipynb
../NEK/undersampler_validation/under_batch2/idea4 copy.ipynb
../NEK/undersampler_validation/under_batch2_jp/.ipynb_checkpoints/
.ipynb_checkpoints/
dataset_creation/.ipynb_checkpoints/dataset_eda-checkpoint.ipynb
dataset_creation/.ipynb_checkpoints/scratch_folds-checkpoint.ipynb
dataset_creation/dataset_eda.ipynb
rf_models/run_RF.ipynb
../semester_work/
